---
const { survey } = Astro.props;
---

<article class="survey-card">
  <div class="survey-card__body">
    <p class="eyebrow">{survey.kicker}</p>
    <h3>{survey.name}</h3>
    <p>{survey.tagline}</p>
  </div>
  <dl class="compact-meta">
    <div>
      <dt>Host type</dt>
      <dd>{survey.hostGalaxyType}</dd>
    </div>
    <div>
      <dt>Distance regime</dt>
      <dd>{survey.distanceRegime}</dd>
    </div>
    <div>
      <dt>Data release</dt>
      <dd class="pending">{survey.dataReleaseStatus}</dd>
    </div>
  </dl>
  <div class="survey-card__actions">
    <a class="text-link" href={survey.route}>Open survey page</a>
    <a class="text-link" href={`${survey.route}#data-products`}>View data products</a>
  </div>
</article>
